
html {
  --text-primary: var(--gray-950);
  --text-secondary: var(--gray-600);
  --text-tertiary: var(--gray-500);
  --text-quaternary: var(--gray-300);
  --border-light: rgba(0,0,0,.1);
  --border-medium: rgba(0,0,0,.15);
  --border-heavy: rgba(0,0,0,.2);
  --border-xheavy: rgba(0,0,0,.25);
  --main-surface-primary: var(--white);
  --main-surface-secondary: var(--gray-50);
  --main-surface-tertiary: var(--gray-100);
  --sidebar-surface-primary: var(--gray-50);
  --sidebar-surface-secondary: var(--gray-100);
  --sidebar-surface-tertiary: var(--gray-200);
  --popover-surface-primary: var(--white);
  --link: #2964aa;
  --link-hover: #749ac8
}

.dark {
  --text-primary: var(--gray-50);
  --text-secondary: var(--gray-300);
  --text-tertiary: var(--gray-500);
  --text-quaternary: var(--gray-700);
  --border-light: rgba(217,217,227,.1);
  --border-medium: rgba(217,217,227,.15);
  --border-heavy: rgba(217,217,227,.2);
  --border-xheavy: rgba(217,217,227,.25);
  --main-surface-primary: var(--gray-900);
  --main-surface-secondary: var(--gray-850);
  --main-surface-tertiary: var(--gray-800);
  --sidebar-surface-primary: var(--gray-950);
  --sidebar-surface-secondary: var(--gray-850);
  --sidebar-surface-tertiary: var(--gray-800);
  --popover-surface-primary: var(--gray-900);
  --link: #7ab7ff;
  --link-hover: #5e83b3
}
/* style for html inside of browsers */
.katex {
  font-size: 1em !important;
} /* align KaTeX font-size to surrounding text */

eq {
  display: inline-block;
}
eqn {
  display: block;
}
section.eqno {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  align-items: center;
}
section.eqno > eqn {
  width: 100%;
  margin-left: 3em;
}
section.eqno > span {
  width: 3em;
  text-align: right;
}
grammarly-desktop-integration,
grammarly-mirror,
grammarly-extension {
  display: none !important;
}
/* checkbox */
input[type="checkbox"],
input[type="checkbox"]:hover,
input[type="checkbox"]:focus {
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 16 16' fill='%23ddd' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.207 4.793a1 1 0 0 1 0 1.414l-5 5a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L6.5 9.086l4.293-4.293a1 1 0 0 1 1.414 0z'/%3E%3C/svg%3E");
}
input[type="checkbox"]:checked,
input[type="checkbox"]:checked:hover,
input[type="checkbox"]:checked:focus {
  background-color: gold;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 16 16' fill='%23808080' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.207 4.793a1 1 0 0 1 0 1.414l-5 5a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L6.5 9.086l4.293-4.293a1 1 0 0 1 1.414 0z'/%3E%3C/svg%3E");
}
::highlight(search-results) {
  display: inline-block;
  background: #ffd700;
  color: #000;
}
/* Token color */
.text-token-text-purple {
  color: #a26bf7;
}
.bg-token-border-light {
  background-color: rgba(0,0,0,.1);
  background-color: var(--border-light)
}

.bg-token-border-medium {
  background-color: rgba(0,0,0,.15);
  background-color: var(--border-medium)
}

.bg-token-main-surface-primary {
  background-color: #fff;
  background-color: var(--main-surface-primary)
}

.bg-token-main-surface-secondary {
  background-color: #f9f9f9;
  background-color: var(--main-surface-secondary)
}

.bg-token-main-surface-tertiary {
  background-color: #ececec;
  background-color: var(--main-surface-tertiary)
}

.bg-token-popover-surface-primary {
  background-color: #fff;
  background-color: var(--popover-surface-primary)
}

.bg-token-sidebar-surface-primary {
  background-color: #f9f9f9;
  background-color: var(--sidebar-surface-primary)
}

.bg-token-sidebar-surface-secondary {
  background-color: #ececec;
  background-color: var(--sidebar-surface-secondary)
}
.bg-token-sidebar-surface-tertiary {
  background-color: #ececec;
  background-color: var(--sidebar-surface-tertiary)
}

.bg-token-text-primary {
  background-color: #0d0d0d;
  background-color: var(--text-primary)
}

.bg-token-text-secondary {
  background-color: #676767;
  background-color: var(--text-secondary)
}

.bg-token-text-tertiary {
  background-color: #9b9b9b;
  background-color: var(--text-tertiary)
}
/* Token color */
#sidebar {
  visibility: visible !important;
  width: 260px !important;
}
/* dark:bg-[#444654] */
.dark .dark\:bg-[\#444654] {
  background-color: #444654;
}
.selected {
  border-left: solid 1px #ffd700;
}
/* sortable */
.sortable-ghost {
  background-color: #ffd70050 !important;
  opacity: 0.5 !important;
}
.sortable-drag {
  border: solid 1px #ffd700 !important;
  border-radius: 4px !important;
}
.multi-drag-selected #prompt-chain-drag-handle {
  background-color: #ffd70050 !important;
}
.multi-drag-selected [id^="conversation-button-"] {
  background-color: #ffd70050 !important;
}
.hoverScale {
  transition: transform 0.1s ease-in-out;
}
.hoverScale:hover {
  transform: scale(1.05);
}
/* tailwind custom*/
.hover\:pr-8:hover {
  padding-right: 2rem;
}
.hover\:pr-10:hover {
  padding-right: 2.5rem;
}
.border-green-500 {
  border-color: #10a37f;
}
.border-green-500:hover {
  border-color: #10a37f;
}
.hover\:border-green-500:hover {
  border-color: #10a37f;
}
.text-green-500 {
  color: #10a37f;
}
.text-green-500:hover {
  color: #10a37f;
}
.hover\:text-green-500:hover {
  color: #10a37f;
}
.pr-8 {
  padding-right: 2rem;
}
.pr-10 {
  padding-right: 2.5rem;
}
.hover\:pr-20:hover {
  padding-right: 5.5rem;
}
.pr-20 {
  padding-right: 5.5rem;
}
.rounded-t-2xl {
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}
.text-gold {
  color: gold;
}
.border-gold {
  border-color: gold;
}
.btn-warning {
  color: #212529;
  background-color: darkorange;
}
.bg-gold {
  background-color: gold;
}
.hover\:bg-gold-dark:hover {
  background-color: #f1cb00;
}

.pr-14 {
  padding-right: 3.5rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.-ml-4 {
  margin-left: -1rem;
}
.dark .dark\:bg-pinned {
  background-color: #ffd70010;
}
.bg-pinned {
  background-color: #ffd70030;
}
.dark .dark\:border-l-pinned {
  border-left: solid 2px #f0b232 !important;
}
.border-l-pinned {
  border-left: solid 2px #f0b232 !important;
}
.opacity-40 {
  opacity: 0.4;
}
.opacity-100 {
  opacity: 1;
}
.rounded-b-md {
  border-bottom-left-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}
/* Make a button shake */
.animate-shake {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
/* shake animation  */
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

ul.hidden {
  display: none !important;
}
#fabCon {
  display: none !important;
}
/* toggle switch */
.sp-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  margin: 0 8px;
}

.sp-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.sp-switch input:disabled + .sp-switch-slider {
  cursor: not-allowed;
}
.sp-switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.sp-switch-slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .sp-switch-slider {
  background-color: gold;
}

input:focus + .sp-switch-slider {
  box-shadow: 0 0 1px gold;
}

input:checked + .sp-switch-slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.sp-switch-slider.round {
  border-radius: 24px;
}

.sp-switch-slider.round:before {
  border-radius: 50%;
}
/* Range slider */
.sp-range-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 8px;
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
.sp-range-slider:disabled {
  background-color: #3b3b3b !important;
  cursor: not-allowed;
  opacity: 0.5;
}
.sp-range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background: gold;
  cursor: pointer;
}
.sp-range-slider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background: gold;
  cursor: pointer;
}
.sp-range-slider:disabled::-webkit-slider-thumb {
  cursor: not-allowed;
}
.sp-range-slider:disabled::-moz-range-thumb {
  cursor: not-allowed;
}
/* loading animation */

.lds-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #778899;
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
.markdown a {
  padding-left: 2px;
  padding-right: 2px;
  text-decoration: none !important;
  color: #0ba40a !important;
}
.markdown a:hover {
  text-decoration: underline !important;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.markdown ol li eq,
.markdown ul li eq {
  margin: 0;
}

[id^="modal-content-release-note"].markdown ol li,
[id^="modal-content-release-note"].markdown ul li {
  padding-left: 32px;
}

.markdown ol li p,
.markdown ul li p {
  white-space: pre-wrap;
}
.prose :where(p):not(:where([class~="not-prose"] *)),
.prose :where(ol):not(:where([class~="not-prose"] *)),
.prose :where(ul):not(:where([class~="not-prose"] *)) {
  margin-bottom: 0 !important;
}
.markdown ol,
.markdown ul {
  white-space: initial;
}
/* announcement */
#modal-content-newsletter {
  line-height: 28px;
}

/* ezgif images have transparent background */
#modal-content-general img,
[id^="modal-content-release-note"] img {
  border-radius: 8px;
  box-shadow: 0 0 8px rgb(162, 154, 106);
}

#modal-content-general video,
[id^="modal-content-release-note"] video {
  border-radius: 8px;
  box-shadow: 0 0 8px rgb(162, 154, 106);
}

#modal-content-general iframe,
[id^="modal-content-release-note"] iframe {
  border-radius: 16px;
  box-shadow: 0 0 8px rgb(162, 154, 106);
}

#modal-content-newsletter a,
#modal-content-general a,
[id^="modal-content-release-note"] a {
  color: gold !important;
  text-decoration: none !important;
}
#modal-content-newsletter a:hover,
#modal-content-general a:hover,
[id^="modal-content-release-note"] a:hover {
  text-decoration: underline;
}
/* spinner */
svg.spinner {
  display: block;
  width: 40px;
  height: 40px;
}
/* circle element under svg.spinner */
svg.spinner circle {
  -webkit-transform-origin: 20px 20px 0;
  -moz-transform-origin: 20px 20px 0;
  -ms-transform-origin: 20px 20px 0;
  -o-transform-origin: 20px 20px 0;
  transform-origin: 20px 20px 0;
  -webkit-animation: spinner 2s linear infinite;
  -moz-animation: spinner 2s linear infinite;
  -ms-animation: spinner 2s linear infinite;
  -o-animation: spinner 2s linear infinite;
  animation: spinner 2s linear infinite;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    stroke-dashoffset: 26.4;
  }
  50% {
    -webkit-transform: rotate(720deg);
    stroke-dashoffset: 125.6;
  }
  100% {
    -webkit-transform: rotate(1080deg);
    stroke-dashoffset: 26.4;
  }
}

@-moz-keyframes spinner {
  0% {
    -moz-transform: rotate(0deg);
    stroke-dashoffset: 26.4;
  }
  50% {
    -moz-transform: rotate(720deg);
    stroke-dashoffset: 125.6;
  }
  100% {
    -moz-transform: rotate(1080deg);
    stroke-dashoffset: 26.4;
  }
}

@-ms-keyframes spinner {
  0% {
    -ms-transform: rotate(0deg);
    stroke-dashoffset: 26.4;
  }
  50% {
    -ms-transform: rotate(720deg);
    stroke-dashoffset: 125.6;
  }
  100% {
    -ms-transform: rotate(1080deg);
    stroke-dashoffset: 26.4;
  }
}

@-o-keyframes spinner {
  0% {
    -o-transform: rotate(0deg);
    stroke-dashoffset: 26.4;
  }
  50% {
    -o-transform: rotate(720deg);
    stroke-dashoffset: 125.6;
  }
  100% {
    -o-transform: rotate(1080deg);
    stroke-dashoffset: 26.4;
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
    stroke-dashoffset: 26.4;
  }
  50% {
    transform: rotate(720deg);
    stroke-dashoffset: 125.6;
  }
  100% {
    transform: rotate(1080deg);
    stroke-dashoffset: 26.4;
  }
}
/* Dalle browser plugin animation */
@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

.conic {
  position: relative;
  z-index: 0;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -150%;
    width: 200%;
    height: 400%;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: conic-gradient(
      transparent,
      rgba(162, 107, 247, 1),
      transparent 30%
    );
    animation: rotate 3s linear infinite;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 2px;
    top: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border-radius: 0.75rem;
    background: #fff;
  }
}
/* in dark mode set background color of after to   background: #565869; */
.dark .conic::after {
  background: #565869;
}
